body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: rgb(48, 48, 106);
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
  
  .grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px black;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 599px) {
    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .grid-container {
      grid-template-columns: 1fr; 
      gap: 10px;
    }
  
    .container {
      padding: 10px;
    }
  }
  
  
  @media (min-width: 600px) and (max-width: 899px) {
    body {
      font-size: 15px;
    }
  
    h1 {
      font-size: 1.75rem;
    }
  
    .grid-container {
      grid-template-columns: repeat(2, 1fr); 
      gap: 15px;
    }
  
    .container {
      padding: 15px;
    }
  }
  
  @media (min-width: 900px) {
    body {
      font-size: 16px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .container {
      padding: 20px;
    }
  }
  